<h1>Blazor で Iterator - 無限数列のサンプル</h1>

<p>毎秒更新で、無限に乱数を "列挙" します。</p>

<p>@Value</p>

<p>
    ソースコードは
    <a href="https://github.com/sample-by-jsakamoto/IteratorOnBlazor/blob/master/IteratorOnBlazor/App.cshtml#L16" target="_blank">こちら</a>
</p>

@functions { 

    int Value;

    protected override void OnInit()
    {
        var _ = Loop();
    }

    private async Task Loop()
    {
        // 無限に列挙される乱数を、延々と foreach で永遠に回します。
        foreach (var rndVal in EnumRandoms())
        {
            this.Value = rndVal;
            this.StateHasChanged();

            await Task.Delay(1000); // 全力でぶん回すと CPU ファンが壊れるので 1秒おきに。
        }
    }

    /// <summary>
    /// 無限に乱数を列挙します。
    /// </summary>
    private IEnumerable<int> EnumRandoms()
    {
        var random = new Random();
        for (; ; )
        {
            yield return random.Next();
        }
    }
}